@model IEnumerable<ChingChing.Models.CART>
@{
    ViewBag.Title = "YourCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var money = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var getCustomer = Session["Email"] as ChingChing.Models.CUSTOMER;
}
<style>
    .updateQuantity{
        margin: auto 10px;
        font-size: 25px;
    }
</style>
<!-- cart -->
<div class="cart-body">
    <div class="container">
        <h3> <i class="bi bi-cart3"></i> Giỏ hàng của bạn</h3>

        <div class="row">
            <div class="col-lg-8">
                <table class="table list-prod">
                    <thead>
                        <tr>

                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Đơn giá</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                            if (item.PRODUCT.QUANTITY == 0)
                            {
                                <tr style="display: none">
                                    <td style="padding-top: 10px;">
                                        <img src="~/Images/@item.PRODUCT.IMAGEPRO" alt="" style="width:100px;height:105px">
                                        <span style="font-weight: bold;">@item.PRODUCT.NAMEPRO</span> <br />

                                        <span>Số lượng còn lại: Đã hết hàng</span>
                                        <small class="text-danger" style="margin: 10px auto">@ViewBag.OutOfQuantity</small>
                                    </td>
                                    <td>
                                        <form style="display: flex;">
                                            <a href="" class="updateQuantity"><i class="bi bi-dash-circle-fill"></i></a>
                                            <input readonly type="text" id="@item.IDPRO" name="Quantity" style="width: 55px; text-align: center; margin: 0px;" value="0" class="form-control">
                                            <input type="hidden" name="ProductID" value="@item.IDPRO" />
                                            <a href="@Url.Action("IncreaseData", "Cart", new { idProduct = item.IDPRO})" class="updateQuantity"><i class="bi bi-plus-circle-fill"></i></a>
                                        </form>
                                    </td>
                                    <td><h5>@String.Format(money, "{0:c0}", item.QUANTITY * item.PRODUCT.PRICE)</h5></td>
                                    <td>
                                        <a href="@Url.Action("DeleteData", "Cart", new { idProduct = item.IDPRO})" class="delete-prod"><i class="bi bi-x-circle-fill"></i></a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td style="padding-top: 10px;">
                                    <img src="~/Images/@item.PRODUCT.IMAGEPRO" alt="" style="width:100px;height:105px">
                                    <span style="font-weight: bold;">@item.PRODUCT.NAMEPRO</span> <br />

                                    <span>Số lượng còn lại: @item.PRODUCT.QUANTITY</span>
                                    <small class="text-danger" style="margin: 10px auto">@ViewBag.OutOfQuantity</small>
                                </td>
                                <td>
                                    <form style="display: flex;">
                                        <a onclick="changeQuantity('DOWN', '@item.IDPRO')" @*href="@Url.Action("DecreaseData", "Cart", new { idProduct = item.IDPRO})"*@ class="updateQuantity"><i class="bi bi-dash-circle-fill"></i></a>
                                        <input readonly type="text" id="@item.IDPRO" name="Quantity" style="width: 55px; text-align: center; margin: 0px;" value="@item.QUANTITY" class="form-control">
                                        <input type="hidden" name="ProductID" value="@item.IDPRO" />
                                        <a onclick="changeQuantity('UP', '@item.IDPRO')" @*href="@Url.Action("IncreaseData", "Cart", new { idProduct = item.IDPRO})"*@ class="updateQuantity"><i class="bi bi-plus-circle-fill"></i></a>
                                    </form>
                                </td>
                                <td><h5>@String.Format(money, "{0:c0}", item.QUANTITY * item.PRODUCT.PRICE)</h5></td>
                                <td><a href="@Url.Action("DeleteData", "Cart", new { idProduct = item.IDPRO})" class="delete-prod"><i class="bi bi-x-circle-fill"></i></a></td>
                            </tr>
                        }



                    </tbody>
                </table>
            </div>

            <div class="col-lg-4 cart-right-element">
                <div class="cart-payment">
                    <span>Số lượng sản phẩm : </span> <span id="outputQuant">@ViewBag.TotalQuantity</span> <br /><br />
                    <span>Tổng tiền: </span> <span class="total" id="outputPrice">@String.Format(money, "{0:c0}", ViewBag.TotalPrice)</span> <br /> <br />

                    @using (Html.BeginForm("Pay", "Cart", FormMethod.Post))
                    {
                        if (getCustomer != null)
                        {
                <textarea name="address" style="width:100%; margin-bottom: 5px; outline: none;" placeholder="Nhập địa chỉ giao hàng" readonly>@getCustomer.ADDRESS</textarea><br />

                        }
                        <button id="submitBtn" type="submit" class="payment-btn"> <i class="bi bi-check-lg"></i> Đặt hàng ngay ngay</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.TotalQuantity == 0)
            {
    <script type="text/javascript">
        $("#submitBtn").prop("disabled", true);
    </script>
            }
<script type="text/javascript">
    function format2(n, currency) {
        return n.toFixed(0).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + currency;
    }
    function changeQuantity(Value, idPro) {
        $.ajax({
            url: "@Url.Action("ChangeQuantity", "Cart")",
            type: "POST",
            data: JSON.stringify({ "value" : Value, "idpro" : idPro }),
            contentType: "application/json; charset=utf-8",
            dataType: "json", 

            success: function (response) {
                if (response.result == true) {
                    var getProQuantityTag = document.getElementById(response.idpro);
                    getProQuantityTag.value = response.value;
                    var getQuant = document.getElementById('outputQuant');
                    getQuant.innerHTML = response.totalQuant.toString();
                    var getPrice = document.getElementById('outputPrice');
                    getPrice.innerHTML = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(response.totalPrice) /*.toLocaleString('it-IT', { style: 'currency', currency: 'VND' })*/;
                } else {
                    var getProQuantityTag = document.getElementById(response.idpro);
                    getProQuantityTag.value = response.value;
                    alert("Vượt quá giá trị cho phép");
                }
            },
            error: function (xhr, status, error) {
                console.error("Lỗi khi gửi yêu cầu: " + status + " - " + error);
            }
        });
    }
</script>

<!-- end cart -->
