<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/Areas/Admin/Content/admin_style.css">
</head>
<body>
    <div class="admin_container">
        <div class="navbar">
            <div class="category_container">
                <a id="QLDonHang" href="@Url.Action("QLDonHang", "Admin")" class="menu_category">Đơn hàng</a>
                <a id="QLTaiKhoan" href="@Url.Action("QLTaiKhoan", "Admin")" class="menu_category">Tài khoản</a>
                <a id="QLHoaDon" href="@Url.Action("QLHoaDon", "Admin")" class="menu_category">Hóa đơn</a>
                <a id="QLSanPham" href="@Url.Action("QLSanPham", "Admin")" class="menu_category">Sản phẩm</a>
                <a class="menu_category" href="/Home/Index">Thoát</a>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" defer>
        var element = document.getElementById("@ViewBag.Title");
        element.style.backgroundColor = "#CBE4DE";
        element.style.color = "#2C3333";
    </script>
</body>
</html>