<!-- Views/Admin/EditProduct.cshtml -->

@model ChingChing.Models.PRODUCT

@{
    ViewBag.Title = "QLSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_AdminMasterLayout.cshtml";
}

<h2>Cập Nhật Sản Phẩm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>@Model.NAMEPRO</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.IDPRO)

    <div class="form-group">
        @Html.LabelFor(model => model.NAMEPRO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NAMEPRO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NAMEPRO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DESCRIPTIONPRO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DESCRIPTIONPRO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DESCRIPTIONPRO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PRICE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PRICE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PRICE, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.LabelFor(model => model.IMAGEPRO, htmlAttributes: new { @class = "control-label col-md-2" })

    @if (string.IsNullOrEmpty(Model.IMAGEPRO))
    {
        @Html.TextBoxFor(model => model.IMAGEPRO, new { @class = "form-control" })
    }
    else
    {
        <img src="@Model.IMAGEPRO" alt="Product Image" class="img-thumbnail" />
        <input type="hidden" name="IMAGEPRO" value="@Model.IMAGEPRO" />
    }
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Hình ảnh:</span>
        </div>
        <input id="popupEmail" name="anhmota" type="file" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IDCATE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDCATE", ViewBag.Categories as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDCATE, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.QUANTITY, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.QUANTITY, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QUANTITY, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cập Nhật" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay lại", "QLSanPham")
</div>